@media screen and (max-width: 768px) {
    .fila-album {
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    .col {
        min-width: 45%;
    }
}

@media screen and (max-width: 425px) {
    .playlist-title, .new-playlist, .logo-big, .nav-text, .divider {
        display: none;
    }
    
    .logo-small {
        display: block;
        width: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 92vh;
        background-color: rgb(0, 0, 0);
    }

    .navbar {
        position: absolute;
        top: 50px;
    }

    .right-part {
        width: 100%;
    }

    .col {
        min-width: 45%;
    }

    .icon-mobile {
        font-size: 1rem;
        padding-bottom: 10px;
    }
}