@media screen and (max-width: 768px) {
    .fila-album {
        flex-wrap: wrap;
    }

    .col {
        width: calc((100% - 50px) / 4);
    }

}

@media screen and (max-width: 560px) {
    .playlist-title, .new-playlist, .logo-big, .nav-text, .divider {
        display: none;
    }
    
    .logo-small {
        display: block;
    }

    .nav {
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        background-color: rgb(0, 0, 0);
    }

    .right-part {
        width: calc(100% - 50px);
    }

    .col {
        width: calc((100% - 50px) / 2);
    }

    .icon-mobile {
        font-size: 1rem;
        padding-bottom: 10px;
    }
}