/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}


/* Utilities */

:root {
    --common-color-1: rgb(40, 40, 40);
    --common-color-2: rgb(118, 120, 125);
}
/* LAYOUT */
/* COMMON */

.wrapper {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

h4, h2, h3 {
    color: rgb(255, 255, 255);
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
}

ul li {
    color: rgb(255, 255, 255);
}

.grey-txt {
    color: rgb(118, 120, 125);
}

.col {
    width: 20%;
}

.mar-y30 {
    margin: 30px 0;
}

/* Nav-Album Section */

/* Nav-bar */
.nav {
    width: 180px;
    height: 92vh;
    background-color: rgb(0, 0, 0);
}

.logo-small {
    display: none;
}

.effettuaup {
    height: 75px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

/* Album */

.album {
    padding: 20px;
}

.right-part {
    width: calc(100% - 180px);
    height: 92vh;
    overflow: auto;
    margin: 0 auto;
    background-color: rgb(20, 25, 34);
}

.effettuaup {
    height: 75px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

.btn {

}

.fila-album {
    gap: 20px;
}


.sidebar {
    height: 8vh;
    background-color: var(--common-color-1);
}

.nav-album {
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}


/* Sidebar-play */

.sidebar {
    justify-content: space-between;
}

.left-sidebarplay, .right-sidebarplay {
    width: 20%;
    background-color: aquamarine;
}

.middle-sidebarplay {
    width: 40%;
    background-color: blue;
}

